<!-- HTML code to create the Page to select all the needed skills in order to predict the DS Monthly Salary -->
<form action="/predict" method="post">
    <label for="python">python </label>
    <label class="radio-inline">
        <input type="radio" name="python" value="Yes">Yes
    </label>
    <label class="radio-inline">
        <input type="radio" name="python" value="No">No
    </label>
    <br><br>
    <label for="spark">spark </label>
    <label class="radio-inline">
        <input type="radio" name="spark" value="Yes">Yes
    </label>
    <label class="radio-inline">
        <input type="radio" name="spark" value="No">No
    </label>
    <br><br>
    <label for="aws">aws </label>
    <label class="radio-inline">
        <input type="radio" name="aws" value="Yes">Yes
    </label>
    <label class="radio-inline">
        <input type="radio" name="aws" value="No">No
    </label>
    <br><br>
    <label for="excel">excel </label>
    <label class="radio-inline">
        <input type="radio" name="excel" value="Yes">Yes
    </label>
    <label class="radio-inline">
        <input type="radio" name="excel" value="No">No
    </label>
    <br><br>
    <label for="sql">sql </label>
    <label class="radio-inline">
        <input type="radio" name="sql" value="Yes">Yes
    </label>
    <label class="radio-inline">
        <input type="radio" name="sql" value="No">No
    </label>
    <br><br>
    <label for="sas">sas </label>
    <label class="radio-inline">
        <input type="radio" name="sas" value="Yes">Yes
    </label>
    <label class="radio-inline">
        <input type="radio" name="sas" value="No">No
    </label>
    <br><br>
    <label for="keras">keras </label>
    <label class="radio-inline">
        <input type="radio" name="keras" value="Yes">Yes
    </label>
    <label class="radio-inline">
        <input type="radio" name="keras" value="No">No
    </label>
    <br><br>
    <label for="pytorch">pytorch </label>
    <label class="radio-inline">
        <input type="radio" name="pytorch" value="Yes">Yes
    </label>
    <label class="radio-inline">
        <input type="radio" name="pytorch" value="No">No
    </label>
    <br><br>
    <label for="scikit">scikit </label>
    <label class="radio-inline">
        <input type="radio" name="scikit" value="Yes">Yes
    </label>
    <label class="radio-inline">
        <input type="radio" name="scikit" value="No">No
    </label>
    <br><br>
    <label for="tensor">tensor </label>
    <label class="radio-inline">
        <input type="radio" name="tensor" value="Yes">Yes
    </label>
    <label class="radio-inline">
        <input type="radio" name="tensor" value="No">No
    </label>
    <br><br>
    <label for="hadoop">hadoop </label>
    <label class="radio-inline">
        <input type="radio" name="hadoop" value="Yes">Yes
    </label>
    <label class="radio-inline">
        <input type="radio" name="hadoop" value="No">No
    </label>
    <br><br>
    <label for="tableau">tableau </label>
    <label class="radio-inline">
        <input type="radio" name="tableau" value="Yes">Yes
    </label>
    <label class="radio-inline">
        <input type="radio" name="tableau" value="No">No
    </label>
    <br><br>
    <label for="bi">bi </label>
    <label class="radio-inline">
        <input type="radio" name="bi" value="Yes">Yes
    </label>
    <label class="radio-inline">
        <input type="radio" name="bi" value="No">No
    </label>
    <br><br>
    <label for="flink">flink </label>
    <label class="radio-inline">
        <input type="radio" name="flink" value="Yes">Yes
    </label>
    <label class="radio-inline">
        <input type="radio" name="flink" value="No">No
    </label>
    <br><br>
    <label for="mongo">mongo </label>
    <label class="radio-inline">
        <input type="radio" name="mongo" value="Yes">Yes
    </label>
    <label class="radio-inline">
        <input type="radio" name="mongo" value="No">No
    </label>
    <br><br>
    <label for="google_an">google_an </label>
    <label class="radio-inline">
        <input type="radio" name="google_an" value="Yes">Yes
    </label>
    <label class="radio-inline">
        <input type="radio" name="google_an" value="No">No
    </label>
    <p style="text-align:center;"><input type="submit", value = "Predict" style="height:30px; width:70px"></p>
</form>